/* === COLORS === */
$color_green: #4d96a9;
$color_purple: #855fb1;
$color_dark_grey: #28283d;
$color_grey: #87879d;
$color_light_grey: #87879d51;
$color_blue: #8fe3f9;
$color_soft_purple: #d9b8ff;
$color_white: #fafafa;
