@import "partials/mixins";
@import "partials/variables";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 285px;
  margin-bottom: 30px;
  background-image: url("images/tablet/image-hero.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: calc(100vw + 36px);

  img {
    margin-top: 45px;
  }
}

main {
  width: 85%;
  margin: auto;
  text-align: center;

  h1 {
    margin-bottom: 15px;
    font-size: 39px;
    color: $color_dark_grey;
  }

  p {
    margin-bottom: 25px;
    color: $color_grey;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;

    button[type="submit"] {
      @include buttonStyleDownload;
    }

    button[type="button"] {
      @include buttonStyleInfo;
      margin-bottom: 25px;
    }
  }
  .divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
  }

  .line {
    width: 1px;
    height: 67px;
    background-color: $color_light_grey;
  }

  .line + span {
    border: 1px solid $color_light_grey;
    padding: 10px 12px;
    border-radius: 50%;
    color: $color_grey;
    font-weight: bold;
  }
}

.info-section {
  width: 85%;
  margin: auto;
  position: relative;

  .photo-gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 55px;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    #image1 {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    #image2 {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }

    #image3 {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }

    #image4 {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }
  }

  .text-container {
    text-align: center;

    p:first-of-type {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 4px;
      color: $color_green;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 33px;
      line-height: 35px;
      color: $color_dark_grey;
      margin-bottom: 15px;
    }

    h2 + p {
      color: $color_grey;
      margin-bottom: 160px;
    }
  }
  .divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -182px;
    left: 50%;
    transform: translate(-50%);
  }

  .line {
    width: 1px;
    height: 67px;
    background-color: $color_light_grey;
  }

  .line + span {
    border: 1px solid $color_light_grey;
    padding: 10px 12px;
    border-radius: 50%;
    color: $color_grey;
    font-weight: bold;
    background-color: $color_white;
  }
}

footer {
  background: linear-gradient(#4d97a9e1, #4d97a9e1),
    url("images/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 25% 10%;
  text-align: center;

  h3 {
    color: $color_white;
    font-size: 27px;
    margin-bottom: 15px;
    max-width: 483px;
  }

  p {
    color: $color_white;
    margin-bottom: 25px;
    max-width: 483px;
  }

  button[type="submit"] {
    @include buttonStyleDownload;
    background-color: $color_purple;

    &:hover {
      background-color: $color_soft_purple;
    }

    span {
      color: #fafafa68;
    }
  }
}

@media only screen and (min-width: 400px) {
  header {
    height: 325px;
  }
}

@media only screen and (min-width: 500px) {
  header {
    height: 350px;
  }
}

@media only screen and (min-width: 600px) {
  header {
    height: 400px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      max-width: 447px;
    }

    .button-container {
      flex-direction: row;
      align-items: flex-start;

      .divider {
        align-self: center;
      }
    }
  }

  .info-section {
    .photo-gallery-container {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 10px;

      #image1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }

      #image2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
      }

      #image3 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
      }

      #image4 {
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        max-width: 365px;
      }

      h2 + p {
        max-width: 579px;
      }
    }

    .divider {
      bottom: -20px;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 80px 0;
    background-image: linear-gradient(#4d97a9e1, #4d97a9e1),
      url("images/tablet/image-footer.jpg");
  }
}

@media only screen and (min-width: 715px) {
  header {
    height: 450px;
  }
}

@media only screen and (min-width: 800px) {
  header {
    height: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    position: relative;
  }

  header {
    background-image: url("images/desktop/image-hero-left.png"),
      url("images/desktop/image-hero-right.png");
    background-repeat: no-repeat;
    background-position: -1vw, calc(100vw - 277px);
    background-size: 300px, 300px;
    margin-bottom: 100px;
  }

  main {
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media only screen and (min-width: 1200px) {
  header {
    background-position: -2vw, calc(100vw - 380px);
    background-size: 410px, 410px;
    margin-top: 125px;
    margin-bottom: 100px;
  }

  main {
    p {
      max-width: 478px;
    }

    .button-container {
      margin-bottom: 45px;
    }
  }

  .info-section {
    .photo-gallery-container {
      width: 85%;
      margin: auto;
      gap: 20px;
    }
    .text-container {
      margin-top: 75px;

      h2 + p {
        max-width: 450px;
      }

      .divider span {
        padding: 10px 11px;
      }
    }
  }

  footer {
    flex-direction: row;
    gap: 140px;
    // padding: 100px 0 80px 0;
    background-image: linear-gradient(#4d97a9e1, #4d97a9e1),
      url("images/desktop/image-footer.jpg");
    text-align: left;

    h3 {
      max-width: 260px;
    }

    p {
      max-width: 300px;
    }
  }
}
